HOST=preferredHost
PORT=preferredPort
MONGO_URI=mongodb://localhost:27017/your_database
REFRESH_SECRET=a_strong_unique_set_of_characters
NODE_ENV=development
VITE_BACKEND_HOST="your_vite_backend_host"
VITE_PUBLIC_VAPID_KEY="your_public_vapid_key_here"
VITE_BACKEND_HOST="where_you_host_your_backend"
PORT=your_preferred_port_number
BACKEND_ROUTE=the_route_to_your_backend
MONGO_URI=your_mongodb_connection_string
ACCESS_SECRET=your_generated_secret_key_here
MAIL_PASS=a_strong_set_of_characters
PUBLIC_VAPID_KEY=your_public_vapid_key_here
PRIVATE_VAPID_KEY=your_private_vapid_key_here
WEB_PUSH_CONTACT='mailto:your_desired_email.com'
